<div class="container">
  <div class="row">
    <div class="col bg-primary text-white border border-5 border-success p-3">1st Col</div>
    <div class="col-9 bg-primary text-white border border-5 border-success p-3">Did it Work?</div>
    <div class="col bg-primary text-white border border-5 border-success p-3">1</div>
  </div>
   <div class="row">
    <div class="col bg-secondary text-white p-3">1</div>
    <div class="col bg-secondary text-white p-3">1</div>
    <div class="col bg-secondary text-white p-3">1</div>
  </div>
</div>
